body{
    margin: 0;
    padding: 0;
    background-color:#090b2f;
    color:white;
}
a {
   text-decoration: none;
   color: azure;


}

.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 200px; 
    border: 2px solid black;
}
.row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #070707;
    position: relative;
    top: -120px;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#070707;
    padding: 30px;
    height: 10px;
    color:white;

}
.link{
    flex:1;
    display: flex;
    justify-content: center;
    
}
.link1{
    flex:1;
    display: flex;
   
    gap:20px;

}
.link2{
    flex:1;
    display: flex;
   justify-content: end;
    gap:20px;
}
.a{
    text-decoration: none;
    color:black;
}
.a:visited{
    color:black;
}
.a:hover{
    color:rgb(0, 0, 0);
}
.a:active{
    color: black;
}
.produs{
    width: 300px;
    background-color:rgb(0, 0, 0) ;
    padding: 15px;
    border-radius: 8px;

}
.produs img{
    width: 100%;
}
.produs h3{
    font-size: medium;
    font-weight: weight;
    margin:8px;
}
.produse{
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}
.randuri{
    width: 450px;
    background-color:rgb(0, 0, 0) ;
    padding:15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(31, 28, 68);
}
.rand1{
    display: flex;
    flex:1;
    gap:35px;
    text-align: left;
    letter-spacing: 2px;
    margin-left: 90px;
    margin-right: 20px;
    margin-top: 40px;
}
.rand2{
    display: flex;
    flex:1;
    gap:30px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}
.rand3{
    display: flex;
    flex:1;
    gap:35px;
    text-align: left;
    letter-spacing: 2px;
    margin-left: 90px;
    margin-right: 20px;
}
.rand4{
    display: flex;
    flex:1;
    gap:30px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}
.background{
    background-image: url(/maini.jpg);
    background-color: #1585d5;
    background-size: cover;
    width:100%;
    height:700px;
    display: flex;
    align-items:center;
    justify-content: center;
    color:white;
    font-size: 24px;
    font-weight: bold;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    background-color: #ffffff; 
    padding: 60px 80px;
=======
    background-color: #9f9797; 
    padding: 5px 5px;
>>>>>>> dd34de03437d5675ec4d3f684dac54410493a09c
    border-radius: 80px;
    
}
.text {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    color: black;
}
.image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border-radius: 80px;
}
.image img {
    max-width: 100%;
    height: auto;
    border-radius: 80px;
   
}


  /* scroll-bar:'> */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #090b2f;
  }
  ::-webkit-scrollbar-thumb {
    background: #472a64;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #9461c7;   
  }
<<<<<<< HEAD
=======

  
.randuri:hover {
    color: #9461c7 !important;
}
>>>>>>> c4fb106b60cff3dfdf67a4172a1dd3bb005086b5
