body{
    margin: 0;
    padding: 0;
    background-color:#282628;
    color:white;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#070707;
    padding: 30px;
    height: 10px;
    color:white;

}
.link{
    flex:1;
    display: flex;
    justify-content: center;
    
}
.link1{
    flex:1;
    display: flex;
   
    gap:20px;

}
.link2{
    flex:1;
    display: flex;
   justify-content: end;
    gap:20px;
}